<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
<title>{{ title }}</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">

<link rel="stylesheet" type="text/css" href="/css/wow_classes.css">



</head>
<body id="body">

{{{ body }}}

<script src="/js/sendMail.js"></script>
<script src="/js/validateForm.js"></script>
<script src="/js/jquery.js"></script>
<script src="/js/smoothScroll.js"></script>
<script src='/js/sweetalert2/dist/sweetalert2.all.js'></script>
<script src='/js/hamburger.js'></script>
</body>

</html>