.DK{
    color: #C41F3B;
}

.DK:hover{
    color: #C41F3B;
}

.DH{
    color: #A330C9;
}

.DH:hover{
    color: #A330C9;
}

.mage{
    color: #40C7EB;

}

.mage:hover{
    color: #40C7EB;

}

.warlock{
    color: #8787ED;

}

.warlock:hover{
    color: #8787ED;

}

.priest{
    color: #FFFFFF;

}

.priest:hover{
    color: #FFFFFF;

}

.rogue{
    color: #FFF569;

}

.rogue:hover{
    color: #FFF569;

}

.monk{
    color: #00FF96;

}

.monk:hover{
    color: #00FF96;

}

.druid{
    color: #FF7D0A;

}

.druid:hover{
    color: #FF7D0A;

}

.shaman{
    color: #0070DE;

}

.shaman:hover{
    color: #0070DE;

}

.hunter{
    color: #ABD473;

}

.hunter:hover{
    color: #ABD473;

}

.warrior{
    color: #C79C6E;

}

.warrior:hover{
    color: #C79C6E;

}

.paladin{
    color: #F58CBA;

}
.paladin:hover{
    color: #F58CBA;

}